<h1>showing teams details</h1>
<p><strong>id: </strong><%=@team.id%></p>
<p><strong>name:</strong><%=@team.name%></p>
<p><strong>country:</strong><%=@team.country%></p>
<p><strong>founded:</strong><%=@team.founded%></p>