<footer class="footer fixed-bottom bg-dark py-3 text-white">
        <div class="container text-center">
            <small>Copyright &copy; <%= link_to "Cricket Website", "https://www.icc-cricket.com/", class: "text-white" %></small>
        </div>
    </footer>

    